/*HTML was built using semantic technology, 
if this page is displayed in older browsers,
 to need to define the display style*/
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {display:block;}


body {
		font: 100%/1.4 Arial, Helvetica, sans-serif;
		box-sizing: border-box;
}
/****************MENU FOR RESPONSIVE************/
.toggle-menu, #modal-form  {display: none;} /*hidden menu and modal-form for responsive*/

nav.toggle-menu { /*it is styling basic size togglemenu (nav is conteiner)*/
		width: 200px;
		height: 30px;
}
.toggle-menu ul {list-style-type: none;}

label { 
   		position: relative;
   		width: 200px;
   		display: inline-block;
   		color: #fff;
   		text-align: center;
   		text-transform: uppercase;
   		background-color: rgba(0,0,0,0.8);
   		border-bottom: 1px solid #171717;
   		padding: 6px;
   		cursor: pointer;
}
input#menu-toggle  {display: none;} /*hidden checkbox for label which was name menu-toggle*/

/*start is styling menu which  is like dropdown-menu*/
ul.menu {
		padding-left: 0;
		margin: 0;
}
.menu a {
		color: #fff;
		text-decoration: none;
		text-transform: uppercase;
}
.menu {
   		background-color:rgba(0,0,0,.7);
   		width: 212px;
   		overflow: hidden;
   		max-height: 0;
   		padding: 0;
   		text-align: center;
   		-webkit-transition: all 0.3s ease;
}
.menu li {padding: 5px;}

.menu li:first-of-type {margin-top: 15px;}
.menu li:last-of-type {margin-bottom: 15px;}
/*icon for menu-bars*/
.fas { 
   		position: absolute;
   		left: 10px;
   		top: 5px;
   		width:  20px;
}
#menu-toggle:checked + .menu {max-height: 250px;}

/*******************HEADER****************/
header {
	    display:flex;
		justify-content: space-around;
		align-items: center;
		position: fixed;
		top: 0;
		background-color: #000;
		width: 100%;
		z-index: 100;
}
figure img {display:block; width:120px}

/**********NAVBAR INSIDE HEADER*******/
ul.navbar { display: flex;} /*ul is conteiner for list "li"*/

header .navbar li {
		padding: 5px 12px 5px 12px;
		border-left: 1px solid #171717;
		text-align: center;
		width: 80px;
}
.navbar li:last-of-type {border-right: 1px solid #171717;}
.navbar li:hover {background-color: #171717;}

header .navbar a {
		text-decoration: none;
		text-transform: uppercase;
		color: #fff;
}
/***********BUTTON SIGN UP INSIDE HEADER**********/
header button {
		background-color: #000;
		width: 120px;
		height: 32px;
		border: 1px solid #fff;
		outline: none;
		border-radius: 50px;
		color: #fff;
		cursor: pointer;
}
header button:hover {background-color: #171717;}

/************SEARCH INSIDE HEADER************/

form.search{position: relative; z-index: 1;}

/*icon lupa*/
.fa {
		position: absolute;
		top: 5px;
		right: 0;
		left: 185px;
		z-index: 2;
}
/*icon lupa*/
.fa-search{
		color: #171717;
		font-size: 22px;
		cursor: pointer;
}
.search input {
		height: 32px;
		width: 220px;
		outline: none;
		border: none;
		border-radius: 50px;
}
 .search input[type="search"] {padding-left: 15px;} /*padding for text: "search here"*/

 /*START IS STYLING VIDEO-CONTEINER WHICH CONTAIN VIDEO-COVERR*/
main.basic-container {
		width: 100%;
		height: 100% auto;
		margin-top: 120px; 
		z-index: -100;
}
video.bg_video {
	    position: relative;
		width: 	100%;
		height: 100% auto;
		z-index: 1;
}
.overlay-text {
		display: flex;
		align-items: center;
		flex-flow: column;
		width: 100%;
		position: absolute;
		top: 320px;
		left: 0;
		z-index: 4;
}
.overlay-text h1 {
		text-align: center;
	   	text-transform: uppercase;
		font-size: 32px;
		line-height: 1.5em;
		font-weight: bold;
		color: #fff;
}
.overlay-text span {
		display: block; 
		margin-bottom: 110px;
}
.overlay-text a{
		text-decoration: none;
		text-transform: capitalize;
		text-align: center;
		font-size: 0.9em;
		color: #fff;
		font-weight: normal;
		border: 1px solid #FFF;
		background-color: #2C75FF;
		padding: 15px;
		display: inline-block;
		width: 150px;
		border-radius: 50px;
}
.overlay-text a:hover {background-color: 	#0066FF;}

/*START IS STYLING TREVEL-GUIDE SECTION*/
section.tevel-guide {
		display: flex;
		width: 85%;
		margin: 100px auto;
}
.tevel-guide img {
		width: 350px;
		height: 480px;
}
.describe-guide {
		display: flex;
		flex-flow: column;
		justify-content: center;
}
.describe-guide h2 {
		align-items: center;
		text-align: center;
		font-size: 2em;
		padding: 20px;
}
.describe-guide p {
		font-size: 1.3em;
		width: 60%;
		margin: 0 auto;
		color: #756F6F;
}
.describe-guide a { /*link like button for trevel-guid*/
	    text-decoration: none;
	    color: #fff;
		text-align: center;
		display: block;
		margin: 30px auto;
		background-color: #2C75FF;
		width: 120px;
		padding: 10px;
		border-radius: 50px;
}
.describe-guide a:hover {background-color: 	#0066FF;}
/*end styling trevel-guide*/

/**************START STYLING ABOUT-CONTAINER**************/
.about-conteiner {
		width: 85%;
		margin: 100px auto;
}
.title-about h2 {
	  	text-align: center;
	  	font-size: 3em;
	  	color: #756F6F;
	  	text-transform: capitalize;
	  	margin: 100px 0 50px 0;
}
.articles-about {display: flex;}

.articles-about article { 
		flex: 1;
		margin: 20px;
 }
.articles-about p {
		text-align: justify;
		line-height: 1.8em;
		color: #756F6F;
}
.articles-about h3 {
		text-align: center;
		margin: 20px;
		font-size: 1.2em;
}
/*end styling about-conteiner*/

/***************START STYLING NEWS-CONTEINER***********/
.news-conteiner {
		width: 85%;
		margin: 100px auto;
}
.headers-news h4 {
		text-transform: uppercase;
		font-size: 2.3em;
		color: #756F6F;
		margin: 30px 0 50px 20px;
}
.headers-news p {
		font-size: 1.5em;
		color: #756F6F;
		margin: 30px 0 50px 20px;
}
.box-news {display: flex;}
.box-news figure {
		flex: 1;
		margin: 20px;
		border: 1px solid #DCDCDC;
		box-shadow: 0 0 10px rgba(0,0,0,0.6)
}
.box-news figcaption {margin: 30px 0 30px 15px;}

.box-news p {
		padding: 20px 0 20px 0;
		font-weight: bold;
}
.box-news time {color: #756F6F;}

.box-news img {
		width: 100%;
		height: 210px;
		padding: 0;
		display: block;
		margin: 0 auto;
}
.box-news a {
		text-decoration: none;
		font-weight: bold;
		color: #0000FF;
}
.box-news a:hover {text-decoration: underline;}

.footer_container{
	display: flex;
}

