body {
   font: 100%/1.4 Arial, Helvetica, sans-serif;
   box-sizing: border-box;
}


/*figure img{
display:block;
  width:120px
}
header{
  display:flex;
  align-items:center;
  background-color: #ccc
}*/